footer {
  position: relative;
  height: 20px;
  white-space: nowrap;
}
footer nav {
  position: absolute;
  top: 3em;
  text-align: center;
  width: 100%;
}
footer nav li {
  list-style: none;
  display: inline-block;
}
footer nav li:not(:first-child):before {
  content: '|';
  margin-right: .25em;
  color: var(--link-color-dark)
}
footer nav li a {
  color: var(--link-color-dark);
  text-decoration: none;
  font-size: calc(var(--font-size) - 1.5px);
  font-weight: 600;
}
footer nav li a:hover {
  color: var(--link-hover-color-dark);
}
footer nav p {
  color: #777;
  padding: 1em;
  font-size: 10px;
}
